<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="col-6">
            <div style="text-align: center">
                <h2>Add employee</h2>
            </div>
            <div>
                <a href="/"><button class="btn">List employee</button></a>
            </div>
            <div>
                <form method="post" action="/create">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name employee" required>
                    </div>
                    <div class="form-group">
                        <label for="wage">Wage</label>
                        <input type="number" class="form-control" id="wage" name="wage" placeholder="Enter wage" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>